:root {
  --color-primary: rgb(23, 38, 124);
  --color-white: white;
  --header-height: 9vh;
  --color-secondary: rgb(251, 146, 60);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  color: #333;
}

.body {
  box-sizing: border-box;
  font-family: "Anek Tamil", sans-serif;
  margin: 0;
  overflow-x: hidden;
  background-color: #eee;
}

.container {
  display: grid;
  grid-template-columns: 3fr 9fr;
}

/* ====================== */
/* ======= HEADER ======= */
/* ====================== */
a {
  text-decoration: none;
  color: var(--color-white);
  font-size: 18px;
  transition: all 0.4s;
}

a:hover {
  color: var(--color-secondary);
}
.navbar {
  padding: 0 40px;
  display: flex;
  gap: 30px;
}

.left__side--header {
  background-color: var(--color-primary);
  justify-content: space-between;
  display: flex;
  align-items: center;
  height: var(--header-height);
  position: sticky;
  z-index: 20;
  top: 0;
}

.title__site {
  color: var(--color-white);
  font-size: 24px;
}

.img__logo {
  width: 70px;
}

.subtitle__site {
  color: var(--color-white);
  margin: 5px;
  font-size: 16px;
}

.right__side--header {
  width: 100%;
  padding: 0 40px;
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: calc(var(--header-height));
  padding: 15px;
  z-index: 10;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.227);
}

/* ====================== */
/* ======== MAIN ======== */
/* ====================== */

.left__site--main {
  position: sticky;
  top: var(--header-height);
  padding: 10px;
}

.title__main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  border-bottom: 3px solid var(--color-secondary);
  margin-bottom: 5px;
}

.title__main--h1 {
  font-size: 24px;
}

.suralar {
  width: 100%;
  height: 100%;
  background-color: var(--color-white);
}

.left__side {
  height: 94vh;
  overflow-y: scroll;
  background-color: var(--color-white);
  position: sticky;
  top: var(--header-height);
}

.left__side::-webkit-scrollbar {
  width: 5px;
}

.left__side::-webkit-scrollbar-track {
  background: linear-gradient(0deg, black 0%, gray 100%);
}

.left__side::-webkit-scrollbar-thumb {
  background: transparent;
  box-shadow: 0px 0px 0px 100vh white;
}

.sura {
  padding: 15px 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-radius: 15px;
  transition: 0.4s all;
}

.sura:hover {
  background-color: rgba(128, 128, 128, 0.187);
}

/* .sura:focus-visible {
  background-color: green;
}

.sura:focus {
  background-color: green;
} */

.name__sura {
  font-size: 20px;
}

.oyatlar {
  margin-top: 10px;
  font-size: 14px;
  color: #777;
}

.arab__name {
  color: var(--color-secondary);
  font-size: 24px;
  text-align: end;
}

.arab__name--title {
  font-size: 28px;
}

.right__side--main {
  padding: 50px;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 50px;
}

.main__cart {
  padding: 30px;
  background-color: var(--color-white);
  border-radius: 15px;
}

.oyat__tartib-raqam {
  font-size: 24px;
}

.heading__cart {
  font-size: 18px;
  color: #777;
  margin: 30px 0 10px;
}

.arab__oyat,
.english__oyat,
.uzbek__oyat {
  font-size: 20px;
}

.arab__oyat {
  text-align: end;
}

/* .uzbek__oyat {
  margin-bottom: 40px;
} */

.suralar__umum {
  display: flex;
  flex-direction: column;
  /* overflow-y: scroll; */
}

.left__site--header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.load-gif {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 62%;
  transform: translateX(-50%);
  top: 500px;
  transition: all 0.3s;
  z-index: -1;
}

.hidden {
  visibility: hidden;
}

.bg--color {
  background-color: rgba(22, 246, 55, 0.758);
}
