:root {
  --color-primary: rgb(23, 38, 124);
  --color-white: white;
  --header-height: 60px;
  --color-secondary: rgb(251, 146, 60);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  color: #333;
}

.body {
  box-sizing: border-box;
  font-family: "Anek Tamil", sans-serif;
  margin: 0;
  background-color: #eee;
}

.container {
  display: grid;
  grid-template-columns: 3fr 9fr;
}

/* ====================== */
/* ======= HEADER ======= */
/* ====================== */

.left__side--header {
  padding: 15px;
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  gap: 20px;
  height: var(--header-height);
  /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.342); */
}

.title__site {
  color: var(--color-white);
  font-size: 24px;
}

.img__logo {
  width: 70px;
}

.subtitle__site {
  color: var(--color-white);
  margin: 5px;
  font-size: 16px;
}

.right__side {
  width: 100%;
  height: var(--header-height);
  /* height: 100%; */
  background-color: var(--color-white);
  padding: 15px;
  /* background-color: black; */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.342); */
}

/* ====================== */
/* ======== MAIN ======== */
/* ====================== */

.title__main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  border-bottom: 3px solid var(--color-secondary);
}

.title__main--h1 {
  font-size: 24px;
}

.suralar {
  width: 100%;
  height: 100%;
  background-color: var(--color-white);
}

.left__side {
  height: 98vh;
  background-color: var(--color-white);
  position: sticky;
  top: 0;
}

.sura {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name__sura {
  font-size: 24px;
}

.oyatlar {
  font-size: 14px;
}
